---
layout: default
body-class: is-home
title: Tech-Mosi
description: Software Development Blog
---

{% assign themes = (site.themes | sort: 'date') | reverse %}

<div class='c-home-hero'>
  <div class='o-grid'>
    <div class='o-grid__col'>
      <h3 class='c-home-hero__tagline'>{{ site.description }}</h3>
    </div>
  </div>
</div>

<div class='o-grid'>
  <div class='o-grid__col'>
    <h5 class='c-heading'>
      <span class='c-heading__title'>Recent Blogs</span>
    </h5>
  </div>
</div>

<div class='o-grid'>
  {% for post in site.posts limit:4 %}
    {% include post-card.html %}
  {% endfor %}
</div>

<div class='o-grid'>
  <div class='o-grid__col o-grid__col--2-4'>
    <a class='c-btn c-btn--primary c-btn--full' href='/blog'>Read Blogs</a>
  </div>

  <!--<div class='o-grid__col o-grid__col&#45;&#45;2-4'>-->
    <!--<a class='c-btn c-btn&#45;&#45;secondary c-btn&#45;&#45;full' href='/docs'>Documentation</a>-->
  <!--</div>-->
</div>

<!--{% include features.html %}-->

<!--{% include testimonials.html %}-->