<div class='o-grid'>
  <div class='o-grid__col'>
    <hr>
  </div>
</div>

<div class='o-grid'>
  {% for feature in site.data.features %}
    <div class='o-grid__col o-grid__col--2-4'>
      <div class='c-feature'>
        <span class='c-feature__icon'>
          {% include {{ feature.icon | prepend: 'features-icons/' | append: '.svg' | class='c-feature__icon' }} %}
        </span>
        <h4 class='c-feature__title'>{{ feature.title }}</h4>
        <p class='c-feature__description'>{{ feature.description }}</p>
      </div>
    </div>
  {% endfor %}
</div>