<div class='o-grid__col o-grid__col--2-4 {{ showcase.type | downcase }}'>
  <div class='c-showcase-card'>
    <a href='{{ showcase.url }}' target='_blank'>
      <div class='js-fadein c-showcase-card__image' style='background-image: url(/images/showcases/{{ showcase.type | downcase }}/{{ showcase.theme }}/{{ showcase.screenshot }})'></div>
    </a>

    <a class='c-showcase-card__title' href='{{ showcase.url }}' target='_blank'>{{ showcase.title }}</a>

    <a class='c-showcase-card__theme' href='{{ site.baseurl }}/themes/{{ showcase.theme }}-{{ showcase.type }}' target='_blank'>{{ showcase.theme | capitalize }} &#183; {{ showcase.type }}</a></a>
  </div>
</div>