backend:
  name: github
  repo: aspirethemes/aspirethemes.github.io # Path to your Github repository
  branch: master # Branch to update
  site_domain: aspirethemes.com # Your Netlify site address if different from host